---
layout: home
slug: home
title: 'Exposició: Jo em rebel•lo, nosaltres existim'
keywords: exposició, Jo, em, rebel•lo, nosaltres, existim
---

<main class="vx-masthead" id="content" role="main">

	<!-- jumbotron jornades
	================================================== -->

	<div id="marketsIconHome" class="jumbotron full-width">

		<div class="container">

	  		<p class="text-center"><img src="{{site.baseurl}}/assets/img/cartell-jo-em-rebelo-300x300.png"/></p>
	  		<h1 class="text-center">Jornades Jo em rebel·lo. Nosaltres existim</h1>
	  		<h2 class="text-center">29 i 30 de novembre de 2013</h2>
	  		<h3 class="text-center">Fundació Palau - Caldes d'Estrac</h3>

		</div>

	</div>

	<div class="container">
		<p class="lead">Ja tenim la programació tancada de les Jornades que tindran lloc els 29 i 30 de Novembre</p>

Divendres 29 de novembre 

LA CONSTRUCCIÓ DE LES ALTERNATIVES
17:30h-19h
•    Antonio Baños - Periodista
•    Iago Otero – Ambientòleg i membre de Recerca i Decreixement
•    Susana Martín – Economista i promotora del projecte EuroCat

MOBILITZACIÓ I REVOLTA
19:15h-21h
•    David Fernàndez - Diputat de les CUP al Parlament de Catalunya
•    Esther Vivas - Periodista i activista
•    Pau Llonch – Músic i membre de la Plataforma d’Afectats per la Hipoteca
21h: Actuació: MEDIEVO

Dissabte 30 de novembre

PERIODISME I PENSAMENT CRÍTIC
11h – 12:30h
•    Marta Sibina -  Editora de la web Café amb LLet
•    Roger Palà  - Periodista, membre de Media.cat
•    Col•lectiu EnMedio

DEMOCRÀCIA I DISSIDÈNCIA
12:45h-14:15h
•    Martí Sales – Escriptor i músic 
•    Jordi Trullàs - Artista
•    Esther Quintana - StopBalesDeGoma
•     Xavier Artigas – Sociòleg i documentalista

PROCESSOS DESTITUENTS, PROCESSOS CONSTITUENTS
17h-19h
•    Arcadi Oliveres – President de Justícia i Pau i membre del Procés Constituent 
•    Dídac Costa – Membre de la Cooperativa Integral Catalana
•    Simona Levi – activista i integrant del Partit X

ART I ACTIVISME
19:15h-20:45h
•    Mireia Sallarès – Artista 
•    Manuel Delgado - Professor d’Antropologia de la UB
•    Perejaume – Artista i poeta

21h: Actuació: COLUMNA  ASCASO
	</div>

	<!-- <div class="container">

		<div class="body-content">

			<section id="thoughts">
				<div class="row">
				{% for post in site.categories.general limit:3 %}
					<div class="col-sm-4 col-md-4">
						<div class="recent-news">
							<a href="{{site.baseurl}}{{post.url}}"><h3>{{ post.title }}</h3></a>
							<h5><time datetime="{{ post.date | date: "%Y-%m-%d %H:%M%z" }}">{{ post.date | date: "%b %d" }}</time></h5>
							<h4><time datetime="{{ post.date | date: "%Y-%m-%d %H:%M%z" }}">{{ post.date | localize: ":simple" }}</time></h4>
							<hr />
							{% if post.featured-img-url %}
            				<p class="pull-left hidden-xs thoughts-thumbnail"><img src="{{site.baseurl}}/assets/img/{{post.featured-img-url}}"></p>
            				{% endif %}
							<p>{{ post.excerpt }}</p>
						</div>												
					</div>
				{% endfor %}
				</div>
			</section>

		</div>

	</div> -->

</main>