---
layout: home
slug: home
title: 'Exposició: Jo em rebel•lo, nosaltres existim'
keywords: exposició, Jo, em, rebel•lo, nosaltres, existim
---

<main class="vx-masthead" id="content" role="main">

	<!-- jumbotron jornades
	================================================== -->

	<div id="marketsIconHome" class="jumbotron full-width">

		<div class="container">

	  		<p class="text-center"><img src="{{site.baseurl}}/assets/img/cartell-jo-em-rebelo-300x300.png"/></p>
	  		<h1 class="text-center">Jornades Jo em rebel·lo. Nosaltres existim</h1>
	  		<h2 class="text-center">29 i 30 de novembre de 2013</h2>
	  		<h3 class="text-center">Fundació Palau - Caldes d'Estrac</h3>

		</div>

	</div>

	<div class="container">

	<div class="body-content blog">

<div class="row">

<h3>Divendres 29 de novembre</h3>

<div class="col-sm-12 col-lg-12 blog-list">

<div class="card card-gil">
<h4>LA CONSTRUCCIÓ DE LES ALTERNATIVES</h4>
<p><small>17:30h-19h</small></p>
<ul>
<li>Antonio Baños - Periodista</li>
<li>Iago Otero – Ambientòleg i membre de Recerca i Decreixement</li>
<li>Susana Martín – Economista i promotora del projecte EuroCat</li>
</ul>
</div>

<div class="card card-gil">
<h4>MOBILITZACIÓ I REVOLTA</h4>
<p><small>19:15h-21h</small></p>
<ul>
<li>David Fernàndez - Diputat de les CUP al Parlament de Catalunya</li>
<li>Esther Vivas - Periodista i activista</li>
<li>Pau Llonch – Músic i membre de la Plataforma d’Afectats per la Hipoteca</li>
</ul>
</div>

<div class="card card-gil">
<h4>21h: Actuació: MEDIEVO</h4>
</div>

</div>

</div>

<div class="row">

<h3>Dissabte 30 de novembre</h3>

<div class="col-sm-12 col-lg-12 blog-list">

<div class="card card-gil">
<h4>PERIODISME I PENSAMENT CRÍTIC</h4>
<p><small>11h – 12:30h</small></p>
<ul>
<li>Marta Sibina -  Editora de la web Café amb LLet</li>
<li>Roger Palà  - Periodista, membre de Media.cat</li>
<li>Col•lectiu EnMedio</li>
</ul>
</div>

<div class="card card-gil">
<h4>DEMOCRÀCIA I DISSIDÈNCIA</h4>
<p><small>12:45h-14:15h</small></p>
<ul>
<li>Martí Sales – Escriptor i músic</li>
<li>Jordi Trullàs - Artista</li>
<li>Esther Quintana - StopBalesDeGoma</li>
<li>Xavier Artigas – Sociòleg i documentalista</li>
</ul>
</div>

<div class="card card-gil">
<h4>PROCESSOS DESTITUENTS, PROCESSOS CONSTITUENTS</h4>
<p><small>17h-19h</small></p>
<ul>
<li>Arcadi Oliveres – President de Justícia i Pau i membre del Procés Constituent</li>
<li>Dídac Costa – Membre de la Cooperativa Integral Catalana</li>
<li>Simona Levi – activista i integrant del Partit X</li>
</ul>
</div>

<div class="card card-gil">
<h4>ART I ACTIVISME</h4>
<p><small>19:15h-20:45h</small></p>
<ul>
<li>Mireia Sallarès – Artista</li>
<li>Manuel Delgado - Professor d’Antropologia de la UB</li>
<li>Perejaume – Artista i poeta</li>
</ul>
</div>

<div class="card card-gil">
<h4>21h: Actuació: COLUMNA  ASCASO</h4>
</div>

</div>

</div>

	</div>

	</div>

	<!-- <div class="container">

		<div class="body-content">

			<section id="thoughts">
				<div class="row">
				{% for post in site.categories.general limit:3 %}
					<div class="col-sm-4 col-md-4">
						<div class="recent-news">
							<a href="{{site.baseurl}}{{post.url}}"><h3>{{ post.title }}</h3></a>
							<h5><time datetime="{{ post.date | date: "%Y-%m-%d %H:%M%z" }}">{{ post.date | date: "%b %d" }}</time></h5>
							<h4><time datetime="{{ post.date | date: "%Y-%m-%d %H:%M%z" }}">{{ post.date | localize: ":simple" }}</time></h4>
							<hr />
							{% if post.featured-img-url %}
            				<p class="pull-left hidden-xs thoughts-thumbnail"><img src="{{site.baseurl}}/assets/img/{{post.featured-img-url}}"></p>
            				{% endif %}
							<p>{{ post.excerpt }}</p>
						</div>												
					</div>
				{% endfor %}
				</div>
			</section>

		</div>

	</div> -->

</main>