<!DOCTYPE html>
<html lang="ca">
  <head>
    <!-- Meta, title, CSS, favicons, etc. -->
    {% include header-home.html %}
    <!-- Place anything custom after this. -->
  </head>
  <body class="vx-{{ page.slug }}">
    <a class="sr-only" href="#content">Skip navigation</a>

    {% include nav-main.html %}

    
    {{ content }}

    <footer role="contentinfo">
      <div class="footer-bg">
        <div class="container">
          <div class="row">
            <div class="col-sm-1 col-lg-1">
              <p><a href="http://www.fundaciopalau.cat/"><img src="{{ site.base_url }}/assets/img/fundacio-palau-logo.jpg" /></a></p>
            </div>
            <div class="col-sm-2 col-lg-2">
              <p>
                <small><strong>&copy; Fundació Palau 2013</strong></small>
              </p>
            </div>
            <div class="col-sm-2 col-lg-2 col-sm-offset-5 col-lg-offset-5">
              <p class="text-right"><a href="https://twitter.com/FundacioPalau" title="Twitter" rel="external"><i class="fa fa-twitter fa-lg"></i></a> <a href="https://www.facebook.com/fundaciopalau" title="Facebook" rel="external"><i class="fa fa-facebook fa-lg"></i></a> <a href="mailto:info@fundaciopalau.cat" title="Correu-e" rel="external"><i class="fa fa-envelope fa-lg"></i></a></p>
            </div>
          </div>
        </div>
      </div>
      <div class="well well-sm well-no-margin">
        <p class="text-center"><small>App web creada per <a title="Oxygen comunicació i infraestructures per mitjà dels darres estàndards de disseny, programació web i virtualització al núvol" href="http://www.oxygen.cat/"><span class="fa fa-external-link"></span>Oxygen</a></small></p>
      </div>
    </footer>
    
    {% include footer.html %}

  </body>
</html>